# Ignores the .git directory (Git repository metadata).
.git/

# Ignores the .gitignore file, which isn't needed in the Docker image.
.gitignore

# Ignores the .air.toml configuration file, likely used for live reloading.
.air.toml

# Ignores the node_modules directory, which is often large and only needed during frontend development.
node_modules/

# Ignores all Markdown files (*.md), which are often used for documentation.
*.md

# Ignores the Dockerfile itself, as it's not needed inside the Docker container.
Dockerfile

# Ignores the .idea directory, which is created by JetBrains IDEs like IntelliJ IDEA or GoLand.
.idea/

# Ignores the frontend directory, which may be unnecessary for your backend Docker image.
frontend/

# Ignores the photos directory, similar to images—unnecessary for the Docker image.
photos/
         
# Ignores the screenshots directory, which is likely irrelevant to the app's functionality.
screenshots/

# Ignores the tmp directory, which is typically used for temporary files.
tmp/
